@page
@model PrivacyModel
@{
    ViewData["Title"] = "Admin";
}
<h1>@ViewData["Title"]</h1>

<div class="list-group">
    @foreach(MediaStream mediaStream in Model.VideoStreamList)
    {
        Uri uri=null;
        try
        {
            uri = new Uri(mediaStream.StreamURL);
        }
        catch{};

        <a asp-page="./MediaStreamEdit" asp-route-streamId="@mediaStream.StreamId" class="list-group-item list-group-item-action" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">
                    @if(mediaStream.Stop==1 || uri ==null)
                    {
                        <i class="bi bi-camera-video-off" style="color:var(--bs-danger)"></i>
                    }
                    else
                    {
                        <i class="bi bi-camera-video-fill" style="color:var(--bs-green)"></i>
                    }

                    @if(string.IsNullOrEmpty(mediaStream.Title))
                    {
                        <span>@mediaStream.StreamId</span>
                    }
                    else
                    {
                        <span>@mediaStream.Title </span>
                    }
                </h5>
                <small>No: @mediaStream.StreamId </small>
            </div>
            @if(uri !=null)
            {
                <p class="mb-1 text-break">  @($"{uri.Scheme}://{uri.Host}{uri.AbsolutePath}") </p>
            }
            else 
            {
                <p class="mb-1 text-break">  </p>
            }
            
            <div class="d-flex w-100 justify-content-between">
                <small> ffmpeg.exe - @mediaStream.ProcessId </small>
            </div>
            
        </a>        
    }
</div>

<br/>
<div class="d-grid gap-2">
    <a asp-page="./MediaStreamEdit" class="btn btn-primary btn-lg">
        <i class="bi bi-plus-circle-fill"></i> 增加
    </a>
</div>