@page
@model PrivacyModel
@{
    ViewData["Title"] = "Admin";
}
<h1>@ViewData["Title"]</h1>

<div class="list-group">
    @foreach(MediaStream mediaStream in Model.VideoStreamList)
    {
        Uri uri = new Uri(mediaStream.StreamURL);

        <a asp-page="./MediaStreamEdit" asp-route-streamId="@mediaStream.StreamId" class="list-group-item list-group-item-action" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">
                    <i class="fa fa-video-camera" aria-hidden="true" style="color:@(mediaStream.Stop==1?"red":"green");" ></i> 

                    @if(string.IsNullOrEmpty(mediaStream.Title))
                    {
                        <span>@mediaStream.StreamId</span>
                    }
                    else
                    {
                        <span>@mediaStream.Title </span>
                    }
                </h5>
                <span>
                    @if(mediaStream.Stop==1)
                    {
                        <i class="fa fa-exclamation-circle" aria-hidden="true" style="color:red;"></i>
                    }
                    else
                    {
                        <i class="fa fa-check-circle" aria-hidden="true" style="color:green;"></i>
                    }

                </span>
            </div>
            <p class="mb-1 text-break">  @($"{uri.Scheme}://{uri.Host}{uri.AbsolutePath}") </p>
            <div class="d-flex w-100 justify-content-between">
                <small> ffmpeg.exe - @mediaStream.ProcessId </small>
                <small>@mediaStream.StreamId </small>
            </div>
            
        </a>        
    }
</div>

<br/>
<div class="d-grid gap-2">
    <a asp-page="./MediaStreamEdit" class="btn btn-primary btn-lg">
        <i class="fa fa-plus-circle" aria-hidden="true"></i> 增加
    </a>
</div>