@page
@model IndexModel
@{
    ViewData["Title"] = "首页";
}
@*<div>@Model.StreamId</div>*@

@foreach(Tuple<string,string> videoStream in Model.VideoStreamList)
{
    <div class="card" style="margin-bottom:8px">
        <div class="card-header">@videoStream.Item2</div>
            <video  id="@videoStream.Item1"
                    class="card-img" 
                    style="width:100%;height:100%"
                    muted
                    controls="controls" autoplay="autoplay"
                    x-webkit-airplay="true" x5-video-player-fullscreen="true"
                    preload="auto" playsinline="true" webkit-playsinline
                    x5-video-player-typ="h5">
                @*<source type="application/x-mpegURL" src="hls/test1.m3u8">*@
            </video>        

    </div>

}




<script>
    var ids = [];
    @foreach (var videoStream in Model.VideoStreamList)
    {
         @:ids.push("@videoStream.Item1");
    }

    ids.forEach(function (item, index) {
      console.log(item, index);
      var video = document.getElementById(item);
      var videoSrc = '@Model.M3u8FileDir/'+ item + '/index.m3u8';
      //
      // First check for native browser HLS support
      //
      if (video.canPlayType('application/vnd.apple.mpegurl')) {
        video.src = videoSrc;
        //
        // If no native HLS support, check if HLS.js is supported
        //
      } else if (Hls.isSupported()) {
        var hls = new Hls();
        video.muted = true;
        //video.autoplay = false;
        hls.loadSource(videoSrc);
        hls.attachMedia(video);
      }
    });
</script>

